# Database
DATABASE_URL=sqlite:///./applyright.db

# JWT Parameters
JWT_SECRET_KEY=87f2e6b9a89d71c4c3b5d2e0f4a3e2d1c9b8a7f6e5d4c3b2a1
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=30
JWT_REFRESH_TOKEN_EXPIRE_DAYS=7

# Cache Broker
REDIS_URL=redis://localhost:6379/0

# Gemini Generative AI Key
AI_API_KEY=
AI_PROVIDER=mock
